{
  "env": {
    "build": {
      "presets": [
        ["env", {
          "modules": false,
          "useBuiltIns": true,
          "targets": {
            "browsers": "> 1%",
            "node": 4
          }
        }]
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "modules": "commonjs",
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}
